@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


@media (max-width: 1023.9px) {
  .pc {display: none !important;}
  br.only-pc {content: '';}
  br.only-pc::after {content: ' ';}
  
}

@media (min-width: 1024px) {
  .mobile {display: none !important;}
  br.only-m {content: '';}
  br.only-m::after {content: ' ';}

}